.header{
    width: 100%;
    
    
    .navbar{
        width: 100%;
        margin: auto;
        padding-right: 3%;
        height: 80px;
        .container-fluid{
            max-width: 1300px;
        }
    }
}