@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Montserrat:wght@200&family=Varela+Round&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.4s;
}

.body-no-index .header .navbar-no-gradient {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background-color: #fff;
}

.header {
  height: auto;
  width: 100%;
  background-color: #fff;
}
.header .navbar {
  width: 100%;
  margin: auto;
  height: 80px;
  font-size: 20px;
}
@media screen and (min-width: 992px) {
  .header .navbar {
    width: 100%;
  }
}
.header .navbar .container-fluid {
  max-width: 1200px;
}
.header .navbar .container-fluid .navbar-brand img {
  height: 80px;
}
@media screen and (min-width: 992px) {
  .header .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav {
    margin-right: 9%;
  }
}
@media screen and (min-width: 1350px) {
  .header .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav {
    margin-right: 0;
  }
}

.body-inicio {
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(.././assets/fondo1.jpg) center no-repeat fixed;
  background-size: cover;
}
@media screen and (min-width: 992px) {
  .body-inicio {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(.././assets/fondo1.jpg) center center no-repeat fixed;
    background-size: cover;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.body-inicio .main-inicio {
  min-height: 100vh;
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 2.5%;
}
@media screen and (min-width: 992px) {
  .body-inicio .main-inicio {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    margin-top: 0;
  }
}
.body-inicio .main-inicio .main__text-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-inicio .main-inicio .main__text-button-container .main__title {
  color: #EFEBE9;
  font-size: 50px;
  font-family: "Fuzzy Bubbles", cursive;
  align-self: center;
  white-space: nowrap;
  margin-top: 30px;
  font-weight: 700;
}
@media screen and (min-width: 400px) {
  .body-inicio .main-inicio .main__text-button-container .main__title {
    font-size: 60px;
  }
}
@media screen and (min-width: 500px) {
  .body-inicio .main-inicio .main__text-button-container .main__title {
    font-size: 65px;
  }
}
@media screen and (min-width: 992px) {
  .body-inicio .main-inicio .main__text-button-container .main__title {
    font-size: 80px;
  }
}
.body-inicio .main-inicio .main__text-button-container .main__texto-principal {
  color: #ccc;
  font-size: 12px;
  padding-top: 20px;
  margin-right: 15px;
  margin-left: 15px;
  font-family: "Varela Round", sans-serif;
}
@media screen and (min-width: 400px) {
  .body-inicio .main-inicio .main__text-button-container .main__texto-principal {
    font-size: 14px;
  }
}
@media screen and (min-width: 500px) {
  .body-inicio .main-inicio .main__text-button-container .main__texto-principal {
    font-size: 17px;
  }
}
@media screen and (min-width: 992px) {
  .body-inicio .main-inicio .main__text-button-container .main__texto-principal {
    font-size: 19px;
  }
}
.body-inicio .main-inicio .main__text-button-container .botones-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .body-inicio .main-inicio .main__text-button-container .botones-inicio {
    margin-left: 20px;
  }
}
@media screen and (min-width: 600px) {
  .body-inicio .main-inicio .main__text-button-container .botones-inicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button {
  background-color: transparent;
  font-family: "Varela Round", sans-serif;
  font-size: 17px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 35px;
  padding-left: 35px;
  border: 2px solid #EFEBE9;
  border-radius: 6px;
  color: #eee;
  margin-top: 20px;
  align-self: center;
  cursor: pointer;
}
.body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button:hover {
  border-color: #ca663b;
  color: #ca663b;
  font-weight: bold;
}
@media screen and (min-width: 400px) {
  .body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button {
    font-size: 16px;
  }
}
@media screen and (min-width: 500px) {
  .body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button {
    font-size: 18px;
  }
}
@media screen and (min-width: 600px) {
  .body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button {
    margin-top: 50px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 992px) {
  .body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button {
    font-size: 21px;
  }
}
.body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button-contacto {
  background-color: transparent;
  font-family: "Varela Round", sans-serif;
  font-size: 17px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 47px;
  padding-left: 47px;
  border: 2px solid #EFEBE9;
  border-radius: 6px;
  color: #eee;
  margin-top: 20px;
  align-self: center;
  cursor: pointer;
}
.body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button-contacto:hover {
  border-color: #ca663b;
  color: #ca663b;
  font-weight: bold;
}
@media screen and (min-width: 400px) {
  .body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button-contacto {
    font-size: 15px;
  }
}
@media screen and (min-width: 500px) {
  .body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button-contacto {
    font-size: 17px;
  }
}
@media screen and (min-width: 600px) {
  .body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button-contacto {
    margin-top: 50px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 992px) {
  .body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button-contacto {
    font-size: 20px;
  }
}

.main-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding-top: 130px;
  background-color: #fff;
  position: relative;
}
.main-container .ir-al-carrito {
  padding: 10px;
  border-radius: 10px;
  margin-top: 50px;
  border: 1px solid #ca663b;
  text-decoration: none;
  color: #ca663b;
}
.main-container .ir-al-carrito:hover {
  background-color: #ca663b;
  color: #fff;
  transition: 0.5s;
}
.main-container .crear-pedido-img {
  height: 50%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../assets/pexels-jason-villanueva-851555.jpg) no-repeat right center;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 600px) {
  .main-container .crear-pedido-img {
    max-width: 1200px;
  }
}
@media screen and (min-width: 700px) {
  .main-container .crear-pedido-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
.main-container .crear-pedido-img .img-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 700px) {
  .main-container .crear-pedido-img .img-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
}
.main-container .crear-pedido-img .img-items .h3 {
  color: #EFEBE9;
  font-size: 50px;
  padding-top: 150px;
  position: relative;
  bottom: 50px;
}
.main-container .crear-pedido-img .img-items p {
  color: #EFEBE9;
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
  bottom: 70px;
}
@media screen and (min-width: 600px) {
  .main-container .crear-pedido-img .img-items p {
    margin-left: 30px;
  }
}
.main-container .comoFunciona {
  height: auto;
  width: 90%;
  background-color: #EFEBE9;
  border-radius: 15px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 5px solid #fff;
}
@media screen and (min-width: 600px) {
  .main-container .comoFunciona {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .main-container .comoFunciona {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    padding: 50px;
  }
}
.main-container .comoFunciona .paso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2b323a;
  padding: 10px;
  text-align: center;
}
.main-container .comoFunciona .paso h4 {
  font-size: 25px;
  margin-top: 10px;
}
.main-container .comoFunciona .paso p {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-container .comoFunciona .paso .numeroDePaso {
  font-size: 50px;
  color: #ca663b;
  font-weight: bold;
}
.main-container .pedido {
  max-width: 1200px;
  width: 100%;
}
.main-container .pedido .opciones-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container .pedido .opciones-container .opcionTipoDeCafe {
  text-align: left;
}
.main-container .pedido .opciones-container .pasosEnOpciones {
  display: none;
}
@media screen and (min-width: 992px) {
  .main-container .pedido .opciones-container .pasosEnOpciones {
    display: inline-block;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 290px;
  }
}
.main-container .pedido .opciones-container .pasosEnOpciones .paso-opcion {
  padding-right: 100px;
  padding-left: 5px;
  border-top: 1px solid #ca663b;
  padding-top: 10px;
  opacity: 0.5;
  transition: 0.3s;
}
.main-container .pedido .opciones-container .pasosEnOpciones .paso-opcion h5 {
  font-size: 30px;
}
.main-container .pedido .opciones-container .pasosEnOpciones .paso-opcion .numeroDePaso {
  font-size: 25px;
  color: #ca663b;
  font-weight: bold;
}
.main-container .pedido .opciones-container .centrar-opciones {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-bottom: 0;
}
.main-container .pedido .opciones-container .centrar-opciones .titulo-opciones {
  opacity: 0.9;
  font-size: 33px;
  margin-top: 10%;
}
@media screen and (min-width: 500px) {
  .main-container .pedido .opciones-container .centrar-opciones .titulo-opciones {
    margin-top: 5%;
  }
}
@media screen and (min-width: 992px) {
  .main-container .pedido .opciones-container .centrar-opciones .titulo-opciones {
    margin-top: 0;
  }
}
.main-container .pedido .opciones-container .centrar-opciones .añadirCarritoBtn {
  background-color: transparent;
  color: #ca663b;
  align-self: center;
  border-radius: 10px;
  border: 1px solid #ca663b;
  padding: 12px;
  margin-top: 50px;
}
@media screen and (min-width: 992px) {
  .main-container .pedido .opciones-container .centrar-opciones .añadirCarritoBtn {
    margin-top: 70px;
  }
}
.main-container .pedido .opciones-container .centrar-opciones .añadirCarritoBtn:hover {
  transform: scale(1.1);
  background-color: #ca663b;
  color: #fff;
}
@media screen and (min-width: 600px) {
  .main-container .pedido .opciones-container .centrar-opciones .añadirCarritoBtn {
    top: 700px;
  }
}
@media screen and (min-width: 992px) {
  .main-container .pedido .opciones-container .centrar-opciones .añadirCarritoBtn {
    top: 450px;
  }
}
@media screen and (min-width: 992px) {
  .main-container .pedido .opciones-container .centrar-opciones {
    align-items: flex-start;
    width: 80%;
  }
}
.main-container .pedido .opciones-container .centrar-opciones .opcion {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  text-decoration: none;
  padding-top: 50px;
}
@media screen and (min-width: 600px) {
  .main-container .pedido .opciones-container .centrar-opciones .opcion {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .main-container .pedido .opciones-container .centrar-opciones .opcion {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 0;
  }
}
.main-container .pedido .opciones-container .centrar-opciones .opcion .eleccion {
  height: auto;
  padding-top: 15%;
  padding-bottom: 15%;
  max-width: 250px;
  box-shadow: 0px 2px 5px 0px;
  border-radius: 10px;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
  color: #2b323a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container .pedido .opciones-container .centrar-opciones .opcion .eleccion .titulo-eleccion {
  padding-left: 30px;
  font-size: 23px;
  font-weight: bolder;
  align-self: flex-start;
}
.main-container .pedido .opciones-container .centrar-opciones .opcion .eleccion .parrafo-eleccion {
  padding-left: 30px;
  margin-right: 25px;
  margin-top: 20px;
  opacity: 0.9;
  font-size: 15px;
}
.main-container .pedido .opciones-container .centrar-opciones .opcion .eleccion .precio {
  padding-left: 30px;
  margin-top: 20px;
  justify-self: flex-end;
  align-self: flex-start;
}
.main-container .pedido .opciones-container .centrar-opciones .desaparecer {
  animation: desaparecer 0.4s 1;
}
@keyframes desaparecer {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.main-container .pedido .opciones-container .centrar-opciones .aparecer {
  animation: aparecer 0.4s 1;
}
@keyframes aparecer {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.body-no-index .main-container {
  min-height: 100vh;
}
.body-no-index .main-container #mainTitle {
  font-size: 35px;
}
@media screen and (min-width: 770px) {
  .body-no-index .main-container #mainTitle {
    font-size: 42px;
  }
}
.body-no-index .main-container .productos-img {
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../assets/pexels-felicia-evelyn-limena-1568639.jpg) no-repeat center center fixed;
  border-radius: 10px;
  background-size: cover;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 600px) {
  .body-no-index .main-container .productos-img {
    max-width: 1200px;
  }
}
@media screen and (min-width: 700px) {
  .body-no-index .main-container .productos-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
  }
}
.body-no-index .main-container .productos-img .img-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 700px) {
  .body-no-index .main-container .productos-img .img-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}
.body-no-index .main-container .productos-img .img-items .h3 {
  text-align: center;
  color: #EFEBE9;
  font-size: 38px;
  padding-top: 150px;
  padding-bottom: 60px;
  position: relative;
  bottom: 50px;
}
@media screen and (min-width: 500px) {
  .body-no-index .main-container .productos-img .img-items .h3 {
    font-size: 42px;
  }
}
@media screen and (min-width: 992px) {
  .body-no-index .main-container .productos-img .img-items .h3 {
    font-size: 45px;
  }
}
.body-no-index .main-container .kits-container {
  display: none;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-top: 50px;
}
@media screen and (min-width: 600px) {
  .body-no-index .main-container .kits-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }
}
@media screen and (min-width: 992px) {
  .body-no-index .main-container .kits-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.body-no-index .main-container .kits-container .kit {
  width: 17em;
  background-color: #EFEBE9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .body-no-index .main-container .kits-container .kit {
    width: 19em;
  }
}
.body-no-index .main-container .kits-container .kit .card {
  width: 100%;
  border-radius: 10px;
}
.body-no-index .main-container .kits-container .kit .card:hover {
  transform: scale(1.05);
  transition: 0.2s;
  border-color: #ca663b;
}
.body-no-index .main-container .kits-container .kit .card .bg-image {
  width: 100%;
  display: flex;
}
.body-no-index .main-container .kits-container .kit .card .bg-image .img-fluid {
  height: 200px;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 15px;
}
.body-no-index .main-container .kits-container .kit .card .card-body {
  width: 100%;
}
.body-no-index .main-container .kits-container .kit .card .card-body .card-title {
  text-align: center;
}
.body-no-index .main-container .kits-container .kit .card .card-body .descripciones {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}
.body-no-index .main-container .kits-container .kit .card .card-body .descripciones .card-price {
  font-size: 22px;
  font-weight: 600;
  color: #ca663b;
  padding-top: 20px;
}
.body-no-index .main-container .kits-container .kit .card .card-body .agregarCarritoBtn {
  background-color: transparent;
  border: 1px solid #222;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 6px;
  align-self: center;
  cursor: pointer;
}
.body-no-index .main-container .kits-container .kit .card .card-body .agregarCarritoBtn:hover {
  border: 1px solid #EFEBE9;
  background-color: #ca663b;
  color: #EFEBE9;
  transform: scale(1.1);
  transition: 0.2s;
}

.contacto-main-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 80px;
}
.contacto-main-container .donde-encontrarnos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto-main-container .donde-encontrarnos h3 {
  font-size: 30px;
  text-decoration: underline;
}
.contacto-main-container .donde-encontrarnos p {
  text-align: center;
}
.contacto-main-container .donde-encontrarnos iframe {
  height: 400px;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
}
.contacto-main-container .contacto-center-div {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.contacto-main-container .contacto-center-div .form-img-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 770px) {
  .contacto-main-container .contacto-center-div .form-img-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.contacto-main-container .contacto-center-div .contacto-image {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contacto-main-container .contacto-center-div .contacto-image img {
  width: 100%;
  height: 40em;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 10px;
}
.contacto-main-container .contacto-center-div .contacto-form-container {
  margin-top: 50px;
  margin-left: 10px;
  height: 40em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border-radius: 7px;
  border: 1px solid #000;
}
.contacto-main-container .contacto-center-div .contacto-form-container h2 {
  font-size: 29px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #000;
}
.contacto-main-container .contacto-center-div .contacto-form-container .contacto-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto-main-container .contacto-center-div .contacto-form-container .contacto-form input {
  height: 2.5em;
  width: 20em;
  margin: 5px;
  border: 2px solid #000;
}
.contacto-main-container .contacto-center-div .contacto-form-container .contacto-form .mb-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto-main-container .contacto-center-div .contacto-form-container .contacto-form .mb-3 .form-control {
  width: 70%;
}
.contacto-main-container .contacto-center-div .contacto-form-container .contacto-form .mb-3 .form-label {
  margin-top: 15px;
  color: #777;
  align-self: flex-start;
  margin-left: 15%;
}
.contacto-main-container .contacto-center-div .contacto-form-container .contacto-form .mb-3 textarea {
  width: 95%;
  margin: auto;
}
.contacto-main-container .contacto-center-div .contacto-form-container .contacto-form .contacto-submit {
  margin: 15px;
  margin-bottom: 30px;
  padding: 10px;
}
.contacto-main-container .contacto-center-div .contacto-form-container .contacto-form .contacto-submit:hover {
  background-color: #ca663b;
  border: 1px solid #ca663b;
  transition: 0.5s;
}

.footer-container {
  min-height: 30vh;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0));
  color: #fff;
}
@media screen and (min-width: 285px) {
  .footer-container {
    margin-top: 20rem;
  }
}
@media screen and (min-width: 770px) {
  .footer-container {
    margin-top: 10rem;
  }
}
.footer-container .footer-title {
  padding-top: 20px;
  font-size: 35px;
}
.footer-container .footer-title span {
  color: #000;
}
.footer-container .redes-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-container .redes-container .red-social img {
  height: 32px;
  margin-right: 20px;
}
.footer-container .redes-container .red-social img:hover {
  transform: scale(1.15);
  transition: 0.5s;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */